.rightSideBar {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  background-color: #eaeaea;
  border: 1px solid #cfcfcf;
  border-radius: 15px;
  padding: 10px;
  gap: 20px;
  height: max-content;
  box-sizing: border-box;
}

.title {
  margin: 0;
}

.newsList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
