.post {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 5px;
  background-color: #eaeaea;
  border: 1px solid #cfcfcf;
  border-radius: 15px;
}

.container {
  display: flex;
  gap: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.userName {
  font-weight: 600;
  font-size: 18px;
}

.userId {
  font-weight: 300;
  font-size: 18px;
  color: #535353;
}

.image {
  border-radius: 15px;
}
