.addPostMenu {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #eaeaea;
  border: 1px solid #cfcfcf;
  border-top: none;
  border-radius: 0 0 15px 15px;
  margin-bottom: 15px;
  gap: 20px;
}
