.leftSideBar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 300px;
  background-color: #eaeaea;
  border: 1px solid #cfcfcf;
  border-radius: 15px;
  height: max-content;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 30px;
}
