.post {
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  border-top: none;
  padding: 10px;
}

.userDataContainer {
  display: flex;
  gap: 10px;
}

.container {
  display: flex;
  gap: 10px;
}

.postActions {
  display: flex;
  gap: 30px;
}